body
{
	background-image: linear-gradient(to right top,rgb(0, 255, 191) , rgb(72, 255, 240), rgb(0, 255, 34), rgb(255, 174, 0), rgb(255, 170, 170));
}
.btn
{
	font-family: 'Macondo', cursive;
	font-weight: bold;
	font-size: 5vmin;
}
h1
{
	font-weight: bold;
	font-family: 'Zen Loop', cursive;
	margin-top: 1.5cm;
}
.link {
    font-size: 20px;
    background: white;
    border-radius: 20px;
    width: 300px;
    margin-top: 15px;
}

.link:hover {
    font-size: 30px;
    text-decoration: underline;
}